<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>

    <delete id="delete" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User" >
        delete from user where id = #{id}
    </delete>

    <insert id="insert" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User" >
        INSERT INTO user VALUES ( #{id}, #{username},#{password}, #{birthday} )
    </insert>

    <update id="update" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User" >
        UPDATE USER
        SET username = #{username}, password = #{password},birthday = #{birthday} where id = #{id}
    </update>
    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


</mapper>